.mini-calendar
{    
    border:1px solid #999999;
       
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;      
    border-collapse:collapse;
    border-collapse:separate;  
    
}
body .mini-calendar td
{
    line-height:14px;
}
.mini-calendar-views
{
    width:100%;
    height:100%;    
}
.mini-calendar-view
{
    width:100%;
    height:100%;
    border-collapse:collapse;
    border-collapse:separate;
    
    display:table;       
}
.mini-calendar-daysheader td
{
    padding:3px;
    border-bottom:solid 1px #CFCFCF;
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;      
    cursor:default;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
}
.mini-calendar td.mini-calendar-weeknumber
{
    border:0;
    font-size:10px;
    color:#BFBFBF;
    cursor:default;
}
.mini-calendar-days td
{
    text-align:center;
    vertical-align:middle;
    padding:2px;
    padding-left:3px;
    padding-right:3px;
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;      
    cursor:default;
}
.mini-calendar .mini-calendar-weekend
{
    color:#C00000;
}
.mini-calendar .mini-calendar-othermonth{
    color:#888888;
}
.mini-calendar .mini-calendar-disabled
{
    color:#aaa;
    text-decoration:line-through;
}
.mini-calendar-space
{
    width:3px;
}
.mini-calendar-bottom td
{
    height:3px;
}
.mini-calendar-date
{
    border:solid 1px white;
}
/* header */
.mini-calendar-header
{
    height:25px;        
    text-align:center;        
    background:#E7EBEF url(images/calendar/header.png) repeat-x 0 0;    
    border-bottom:solid 1px #a7abb0;      
}
.mini-calendar-headerInner
{    
    position:relative;
    height:100%;
}
.mini-calendar-title
{
    line-height:25px;
    font-weight:400;
    font-size:12px;
    cursor:pointer;
}
.mini-calendar-prev, .mini-calendar-next
{
    position:absolute;
    left:8px;top:6px;
    overflow:hidden;
}
.mini-calendar-next
{
    left:auto;right:8px;
}
.mini-calendar-yearPrev, .mini-calendar-yearNext,
.mini-calendar-monthPrev, .mini-calendar-monthNext
{
    display:inline-block;margin-right:8px;cursor:pointer;
    width:11px;height:12px;overflow:hidden;
    background:url(images/calendar/prev.gif) no-repeat 50% 3px;
}
.mini-calendar-yearNext
{
    margin:0;
    margin-left:8px;
    background:url(images/calendar/next.gif) no-repeat 50% 3px;
}
.mini-calendar-monthPrev
{
    background:url(images/calendar/months.gif) no-repeat 0 50%;    
}
.mini-calendar-monthNext
{
    margin:0;
    margin-left:8px;
    background:url(images/calendar/months.gif) no-repeat right 50%;    
}
/* footer */
.mini-calendar-footer
{
    padding:4px;
    padding-bottom:5px;
    background:#efefef;
    border-top:solid 1px #c9c9c9;
    text-align:center;
    /*height:22px;overflow:hidden;*/
}
.mini-calendar-menu .mini-calendar-footer
{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    padding:0;
    padding-top:8px;
    padding-bottom:8px;    
}
.mini-calendar-footerSpace
{    
    display:inline-block;
    width:10px;
}
.mini-calendar-tadayButton, .mini-calendar-clearButton,
.mini-calendar-okButton, .mini-calendar-cancelButton
{        
    border:1px solid #A9ACB5;
    background:#EBEDF2 url(images/calendar/button.png) repeat-x 0 0;
    color:#201F35;    
    
    display:inline-block;    
    font-size:9pt;
    font-family:Tahoma,Verdana,宋体;
    text-decoration:none;
    padding:3px;
    padding-left:0px;
    padding-right:0px;
    width:52px;
    text-align: center;  
    outline:none;
    cursor:pointer; 
    vertical-align:middle;
}
body a:hover.mini-calendar-tadayButton, body a:hover.mini-calendar-clearButton,
body a:hover.mini-calendar-okButton, body a:hover.mini-calendar-cancelButton
{
    text-decoration:none;
}

.mini-calendar-okButton
{
    margin-left:10px;
}
.mini-calendar-okButton, .mini-calendar-cancelButton
{
    line-height:14px;
}
.mini-calendar .mini-calendar-today
{    
    border:1px solid #C00000;
}
.mini-calendar .mini-calendar-selected
{    
    color:black;
    background:#e2ecf7;
    border:solid 1px #999999;
}

.mini-calendar-menu
{
    width:250px;
    border:#9f9f9f 1px solid;
    background:white;
    position:absolute;
    z-index:10000000;
    overflow:hidden;
}
.mini-calendar-menu-months
{
    margin-top:15px;
    margin-bottom:15px;
    margin-left:15px;
    margin-right:0px;    
    height:70px;
}
.mini-calendar-menu-month
{
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;       
    display:inline;
    float:left;        
    text-align:center;
    width:46px;height:22px;
    line-height:22px;    
    color:#000000;
    text-decoration:none;
    border:solid 1px white;
    outline:none;
    margin-bottom:2px;
}
a:hover.mini-calendar-menu-month
{
    background:#e5e5d5;
    border:solid 1px #d6d6d5;
}
.mini-calendar-menu-years
{
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    padding-left:18px;
    padding-right:15px;
    position:relative;
    height:50px;
    margin-bottom:5px;
}
.mini-calendar-menu-year
{
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;       
    display:inline;
    float:left;
    text-align:center;
    width:32px;height:21px;
    margin-bottom:3px;
    line-height:20px;    
    color:#000000;
    text-decoration:none;
    border:solid 1px white;
}
a:hover.mini-calendar-menu-year
{
    background:#e5e5d5;
    border:solid 1px #d6d6d5;
}

.mini-calendar-menu-prevYear,
.mini-calendar-menu-nextYear
{
    position:absolute;
    left:0;top:15px;
    width:18px;
    height:15px;
    cursor:pointer;
    background:url(images/calendar/months.gif) no-repeat 0 50%;   
}
.mini-calendar-menu-nextYear
{
    left:auto;right:0;
    background:url(images/calendar/months.gif) no-repeat right 50%;   
}
.mini-calendar-menu-selected, a:hover.mini-calendar-menu-selected
{    
    color:#333;
    background:#e2ecf7;
    border:solid 1px #999999;
}