.mini-menu
{    
    background:white;
    color:#201F35;
    
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;      
    border-collapse:collapse;
    border-collapse:separate;   
    overflow:hidden;
     
}
.mini-menu-border
{
    border:1px solid #999999;overflow:hidden;
}
.mini-menu-inner
{
    padding:1px;overflow:hidden;position:relative;
}
.mini-menu-topArrow, .mini-menu-bottomArrow
{
    height:9px;overflow:hidden;display:none;
    background:url(images/menu/top-arrow.gif) no-repeat 50% 2px;    
}
.mini-menu-bottomArrow
{
    background:url(images/menu/bottom-arrow.gif) no-repeat 50% 2px;
}
.mini-menu-float
{
    position:relative;overflow:hidden;
}

.mini-menuitem
{
    line-height:20px;
    
    height:auto;
    width:auto;
    position:relative;
    
    border:0;
    padding:1px;  
}

.mini-menuitem-hover
{    
    padding:0px;    
    border:solid 1px #9a9a9a;
    background:#E3EBFF url(images/menu/item.png) repeat-x 0 0;    
}
.mini-menu-popup
{    
    padding:0px;    
    border:solid 1px #9a9a9a;
    background:#E3EBFF url(images/menu/item.png) repeat-x 0 0;
}
.mini-menuitem-selected
{
    padding:0px;
    border:solid 1px #9a9a9a;     
    background:#DBDDE2 url(images/menu/pressed.png) repeat-x 0 0;
}

.mini-menuitem-inner
{
    position:relative;
    padding-right:20px;
    padding-left:28px;
}
.mini-menuitem-text
{        
    cursor:default;
    color:#201F35;
    overflow:hidden;
    white-space:nowrap;    
    text-overflow:ellipsis;
    word-break:keep-all;
    
}
.mini-menuitem-text a
{
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;   
    text-decoration:none;    
    color:#201F35;
}
.mini-menuitem-text a:hover
{
    text-decoration:underline;
}
.mini-menuitem-icon, .mini-menuitem-allow
{
    width:16px;
    height:16px;
    overflow:hidden;
    position:absolute;
    left:3px;
    top:2px;
    display:none;    
    _left:-25px;
    _top:-1px;
}
.mini-menuitem .mini-menuitem-icon{
    
    background-position:50% 50%;
}
.mini-menuitem-allow
{
    left:auto;
    right:3px;
    background:url(images/menu/arrow.png) no-repeat 8px 50%;
}
.mini-menu .mini-menuitem-showcheck .mini-menuitem-icon
{
    background:none;
}
.mini-menu .mini-menuitem-checked .mini-menuitem-icon
{
    background:url(images/menu/checked.gif) no-repeat 50% 6px;
}

body .mini-menuitem-icontop .mini-menuitem-inner
{
    text-align:center;
    padding-top:5px;
    padding-bottom:7px;
    line-height:14px;
    margin-right:10px;
}
body .mini-menuitem-icontop .mini-menuitem-text
{
    +height:16px;
}
.mini-menuitem-icontop .mini-menuitem-icon
{
    position:static;
    margin:auto;    
}
.mini-menuitem-icontop .mini-menuitem-text
{        
    padding:0;
    padding-top:5px;
}

/* menu horizontal */
.mini-menu-horizontal .mini-menu-inner
{
    margin:0;
    border:0;
    padding:3px; 
    height:23px;
    overflow:hidden;
    background:#F1F2F6 url(images/menu/hmenubg.png) repeat-x 0 0;
}
.mini-menu-horizontal .mini-menuitem
{
    float:left;
    display:inline;
}
.mini-menu-horizontal .mini-menuitem-inner
{
    padding-left:6px;
    padding-right:6px;
}
.mini-menu-horizontal .mini-menuitem-icon, 
.mini-menu-horizontal .mini-menuitem-text,
.mini-menu-horizontal .mini-menuitem-allow
{
    position:static;
    float:left;
    vertical-align:middle;
}
.mini-menu-horizontal .mini-menuitem-icon
{
    margin-top:2px;
}
.mini-menu-horizontal .mini-menuitem-allow
{
    background:url(images/menu/hallow.gif) no-repeat 50% 0px;
    width:5px;height:3px;overflow:hidden;
    margin-top:9px;
    margin-right:2px;
    margin-left:2px;
}
.mini-menu-horizontal .mini-menuitem-text
{
    padding:0;
    padding-left:3px;
    padding-right:3px;
    /*+padding-top:3px;
    +line-height:18px;*/
}
.mini-separator
{
    display:block;
    border-top:solid 1px #9b9b9b;
    margin-top:1px;
    margin-bottom:1px;
    margin-right:1px;
    margin-left:26px;
}
.mini-menu-horizontal .mini-separator
{
    float:left;
    display:inline;    
    border:0;
    border-left:solid 1px #9b9b9b;
    margin:1px;
    margin-top:6px;    
    height:12px; 
}


.mini-menu-toolbar
{
    display:none;
    float:right;
}
.mini-menu-horizontal .mini-menu-toolbar
{
    display:block;
}
.mini-menu-horizontal .mini-menu-float
{
    float:left;
}